name: geoapps

dependencies:
  - main::python
  - main::pip
  - main::git
  - conda-forge::discretize
  - main::numpy
  - main::scipy
  - main::matplotlib
  - main::ipywidgets
  - main::ipykernel
  - main::scikit-image
  - main::scikit-learn
  - main::zarr
  - main::fsspec
  - main::xarray
  - main::dask
  - main::gdal
  - main::fiona
  - main::h5py
  - main::plotly
  - main::requests
  - conda-forge::empymod
  - conda-forge::ipyfilechooser
  - conda-forge::pydiso
  - main::setuptools
  - pip:
    - git+https://github.com/MiraGeoscience/simpeg.git@release/geoapps-0.6.1
    - git+https://github.com/MiraGeoscience/simpeg.git@v0.9.1.dev1+geoapps.0.6.0
    - geoh5py==0.1.6
    - tqdm

variables:
  KMP_WARNINGS: 0
