name: geoapps

channels:
  - conda-forge
dependencies:
  - python
  - pip
  - git
  - discretize
  - numpy
  - scipy
  - matplotlib
  - ipywidgets
  - ipykernel
  - jupyter_client=6.1.12
  - scikit-image
  - scikit-learn
  - zarr
  - fsspec
  - xarray
  - dask
  - gdal
  - fiona
  - h5py
  - plotly
  - requests
  - empymod
  - ipyfilechooser
  - mkl=2020.4
  - pip:
    - git+https://github.com/MiraGeoscience/simpeg.git@feature/tiled-simulations
    - geoh5py==0.1.4
