name: geoapps

channels:
  - conda-forge
  - defaults
dependencies:
  - python
  - pip
  - simpeg=0.13.1
  - discretize
  - matplotlib
  - ipywidgets
  - ipykernel
  - geopandas
  - scikit-image
  - scikit-learn
  - zarr
  - fsspec
  - xarray
  - dask
  - h5py=3.1.0
  - pip:
    - empymod==2.0.5
    - geoh5py==0.1.1
    - plotly==4.9.0
    - ipyfilechooser==0.4.2
    - requests==2.25.1
    - ezdxf==0.15.2
