name: geoapps

channels:
  - conda-forge
  - main
dependencies:
  - python
  - pip
  - git
  - discretize
  - numpy=1.21.2
  - scipy=1.7.1
  - matplotlib
  - ipywidgets
  - ipykernel
  - scikit-image
  - scikit-learn
  - zarr
  - fsspec
  - xarray
  - dask
  - gdal
  - fiona
  - h5py=3.6
  - plotly
  - requests
  - empymod
  - ipyfilechooser
  - pydiso
  - setuptools=58.4
  - mkl=2021.4
  - pip:
    - git+https://github.com/MiraGeoscience/simpeg.git@release/geoapps-0.6.1
    - git+https://github.com/MiraGeoscience/simpeg.git@v0.9.1.dev1+geoapps.0.6.0
    - geoh5py==0.1.6
    - tqdm

variables:
  KMP_WARNINGS: 0
