name: geoapps

channels:
  - conda-forge
  - main
dependencies:
  - python
  - pip
  - git
  - conda-forge::discretize
  - main::numpy
  - main::scipy
  - main::matplotlib
  - main::ipywidgets
  - main::ipykernel
  - main::scikit-image
  - main::scikit-learn
  - main::zarr
  - main::fsspec
  - main::xarray
  - dask
  - conda-forge::gdal
  - conda-forge::fiona
  - main::h5py
  - plotly
  - requests
  - empymod
  - ipyfilechooser
  - conda-forge::pydiso
  - setuptools
  - main::mkl
  - pip:
    - git+https://github.com/MiraGeoscience/simpeg.git@release/geoapps-0.7.0
    - git+https://github.com/MiraGeoscience/simpeg.git@v0.9.1.dev1+geoapps.0.6.0
    - git+https://github.com/MiraGeoscience/geoh5py.git@release/0.3.0
    - tqdm

variables:
  KMP_WARNINGS: 0
