name: geoapps

channels:
  - conda-forge
dependencies:
  - python
  - pip
  - git
  - discretize
  - ipywidgets
  - ipykernel
  - scikit-image
  - scikit-learn
  - zarr
  - fsspec
  - xarray
  - dask
  - gdal
  - fiona
  - plotly
  - requests
  - empymod
  - ipyfilechooser
  - pydiso
  - setuptools
  - pip:
    - git+https://github.com/MiraGeoscience/simpeg.git@release/geoapps-0.6.2
    - git+https://github.com/MiraGeoscience/simpeg.git@v0.9.1.dev1+geoapps.0.6.0
    - geoh5py==0.1.6
    - tqdm

variables:
  KMP_WARNINGS: 0
