name: geoapps

channels:
  - conda-forge
dependencies:
  - python
  - pip
  - git
  - discretize
  - numpy
  - scipy
  - matplotlib
  - ipywidgets
  - ipykernel
  - scikit-image
  - scikit-learn
  - zarr
  - fsspec
  - xarray
  - dask
  - gdal
  - fiona
  - h5py
  - plotly
  - requests
  - empymod
  - ipyfilechooser
  - pydiso
  - setuptools=58.5.1
  - pip:
    - git+https://github.com/MiraGeoscience/simpeg.git@feature/tiled-simulations
    - git+https://github.com/MiraGeoscience/simpeg.git@feature/simpeg_archive
    - git+https://github.com/MiraGeoscience/geoh5py.git@develop
variables:
  KMP_WARNINGS: 0
