name: geoapps

channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.7
  - git
  - pip
  - simpeg=0.13.1
  - matplotlib
  - ipywidgets
  - ipykernel
  - geopandas
  - scikit-image
  - scikit-learn
  - h5py
  - zarr
  - fsspec
  - xarray
  - pip:
    - empymod
    - geoh5py
    - geoapps
    - numpydoc
    - sphinx_issues
    - nbsphinx
    - jupyter_sphinx
    - sphinx-rtd-theme
    - plotly==4.9.0
