name: geoapps

channels:
  - conda-forge
dependencies:
  - python
  - pip
  - git
  - discretize
  - numpy
  - scipy
  - matplotlib
  - ipywidgets
  - ipykernel
  - scikit-image
  - scikit-learn
  - zarr
  - fsspec
  - xarray
  - dask
  - gdal
  - fiona
  - h5py
  - plotly
  - requests
  - empymod
  - ipyfilechooser
  - pydiso
  - setuptools=58.4
  - pip:
    - git+https://github.com/MiraGeoscience/simpeg.git@release/geoapps-0.6.1
    - git+https://github.com/MiraGeoscience/simpeg.git@v0.9.1.dev1+geoapps.0.6.0
    - git+https://github.com/MiraGeoscience/geoh5py.git@release/0.1.6
variables:
  KMP_WARNINGS: 0
