[tool.poetry]
name = "geoapps"
version = "0.8.0-alpha.2"
description = "Open-sourced Applications in Geoscience"
authors = ["Mira Geoscience <dominiquef@mirageoscience.com>"]
repository = "https://github.com/MiraGeoscience/geoapps"
documentation = "https://geoapps.readthedocs.io/en/latest/"
homepage = "https://mirageoscience.com"
readme = "README.md"
keywords = ["geology", "geophysics", "earth sciences"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python",
    "Topic :: Scientific/Engineering",
    "Topic :: Scientific/Engineering :: Mathematics",
    "Topic :: Scientific/Engineering :: Physics",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX",
    "Operating System :: Unix",
    "Operating System :: MacOS",
    "Natural Language :: English",
]

[tool.poetry.dependencies]
python = "^3.7"

dask = {version = "2022.*", extras = ["distributed"]}
distributed = "2022.*"
discretize = "~0.7.4" # also in simpeg
fsspec = "2022.*" # also in simpeg
matplotlib = "^3.5.1" # also in simpeg and geoana
numpy = "!=1.19.4, ^1.21.5" # also in simpeg and geoana
pandas = "^1.3.5" # also in simpeg
scikit-learn = "^1.0.2" # also in simpeg
scipy = "^1.7.3" # also in simpeg and geoana
tqdm = "^4.64.0"

## "soft" dependencies
dash = {version = "^2.5.0", optional = true}
fiona = {version = "^1.8.21", optional = true}
flask = {version = "^2.1.2", optional = true}
gdal = {version = "^3.4.3", optional = true}
ipyfilechooser = {version = "~0.6.0", optional = true}
ipywidgets = {version = "^7.6.5", optional = true}
plotly = {version = "^5.8.0", optional = true}
scikit-image = {version = "~0.19.2", optional = true}

## indirect dependencies, forcing them here for installation through Conda not pip
empymod = "^2.1.3" # from simpeg and geoana
geoana = "~0.0.6" # from simpeg
h5py = "^3.2.1" # from geoh5py
mkl = "2022.*" # from simpeg
properties = "~0.6.1" # from simpeg and geoana
pydiso = "~0.0.3" # from simpeg
pymatsolver = "~0.2.0" # from simpeg
utm = "~0.7.0"
zarr = "^2.8.1" # from simpgeg using Dask

## pip dependencies
# to be specified to work with conda-lock
# - from PyPI: my_package = { version = "1.2.3", source = "pypi" }
# - from URL:
#   - for a tags: my_package = { url = "https://github.com/ORGANISATION/REPO/archive/refs/tags/VERSION_TAG.zip#sha256=None" }
#   - for a branch: my_package = { url = "https://github.com/ORGANISATION/REPO/archive/refs/heads/BRANCH.zip#sha256=None" }
# Note - conda-lock does not support the syntaxe: my_package = { git = ... }
#        while poetry2conda supports only { git = "...", tag = "..." }, and not { url = ... }
#geoh5py = { url = "https://github.com/MiraGeoscience/geoh5py/archive/refs/tags/v0.3.0-alpha.3.tar.gz#sha256=b144ac25da101490f7897d5eeaa9cbdb4b6c4cdaec5b9096c8f22a45bb0c5b0e" }
geoh5py = { url = "https://github.com/MiraGeoscience/geoh5py/archive/refs/tags/v0.3.0-rc.1.tar.gz#sha256=a99fe2ab93b4d7ef826519d31d80f97b48f6854aec9cf36a6b8785011ccef212" }
#geoh5py = { git = "https://github.com/MiraGeoscience/geoh5py.git", tag="v0.3.0-rc.1" }
simpeg_archive = { url = "https://github.com/MiraGeoscience/simpeg/archive/refs/tags/v0.9.1.dev2+geoapps.0.8.0.tar.gz#sha256=3d4f0870e63766abc84cbba78897911581d08cc5b94cbda84d315cb5d1053bef" }
#simpeg_archive = { git = "https://github.com/sebhmg/simpeg.git", tag="v0.9.1.dev2+geoapps.0.8.0" }
simpeg = { url = "https://github.com/MiraGeoscience/simpeg/archive/refs/tags/v0.15.1.dev3+geoapps.0.8.0.tar.gz#sha256=25b1686ded59edd21166156320093e00bc46b1c7f9b9c3a50d03595a4b1f73b0", extras = ["dask"] }
#simpeg = { git = "https://github.com/sebhmg/simpeg.git", tag="v0.15.1.dev3+geoapps.0.8.0", extras = ["dask"] }

[tool.poetry.dev-dependencies]
pylint = "^2.13"
pytest = "^7.1.2"
pytest-cov = "^3.0.0"
requests = "^2.27.1" # for tests only

[tool.poetry.extras]
full = [
    "dash",
    "fiona",
    "flask",
    "gdal",
    "ipyfilechooser",
    "ipywidgets",
    "plotly",
    "scikit-image",
]

[tool.conda-lock]
platforms = ['win-64', 'osx-64', 'linux-64']
channels = ['conda-forge', 'defaults']

[tool.conda-lock.dependencies]
libblas = "*=*mkl"

[tool.isort]
# settings for compatibility between ``isort`` and ``black`` formatting
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 88

[tool.black]
# defaults are just fine

[tool.poetry2conda]
name = "geoapps"
## usage of poetry2conda
# As poetry2conda does not support url sources for pip dependencies,
# temporarily edit this file and use git sources instead, with 'tag=' indifferently whether it is actually a branch or rev.
#> poetry2conda pyproject.toml -E full environment.yml
#> poetry2conda pyproject.toml -E full --dev environment-dev.yml

[build-system]
requires = ["poetry-core>=1.0.0", "setuptools"]
build-backend = "poetry.core.masonry.api"
