name: pytest on Windows

on:
  pull_request:
  push:
    branches:
      - develop
      - main
      - release/**
      - feature/**
      - hotfix/**

jobs:
  pytest:
    name: pytest
    strategy:
      fail-fast: false
      matrix:
        python_ver: [3.7, 3.8]
    defaults:
      run:
        shell: pwsh
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Cache conda
        uses: actions/cache@v2
        env:
          # Increase this value to reset cache if environment.yml has not changed
          CACHE_NUMBER: 3
        with:
          path: ~/conda_pkgs_dir
          key:
            ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-py-${{ matrix.python_ver }}-${{ hashFiles('environment.yml') }}
      - name: Setup conda env
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: geoapps
          python-version: ${{ matrix.python_ver }}
          channel-priority: strict
          environment-file: environment.yml
          use-only-tar-bz2: true # IMPORTANT: This needs to be set for caching to work properly!
      - name: pytest
        run: |
          conda install pytest pytest-cov
          pytest --cov=geoapps --cov-report=xml --cov-branch
      - name: Codecov
        if: github.repository == 'mirageosience/geoapps' && success() && matrix.python_ver == '3.7'
        uses: codecov/codecov-action@v1
        with:
          name: GitHub
          token: ${{ secrets.CODECOV_TOKEN }}
