name: pytest on Windows

on:
  pull_request:
  pull_request_target:
  push:
    branches:
      - develop
      - main
      - release/**
      - feature/**
      - hotfix/**

jobs:
  pytest:
    name: pytest
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Get full Python version
        id: full-python-version
        shell: bash
        run: echo ::set-output name=version::$(python -c "import sys; print('-'.join(str(v) for v in sys.version_info))")
      - name: Install dependencies with conda
        run: |
          C:\Miniconda\condabin\conda.bat env update --file environment.yml --name base
          C:\Miniconda\condabin\conda.bat init powershell
      - name: pytest
        run: |
          C:\Miniconda\condabin\conda.bat activate base
          C:\Miniconda\condabin\conda.bat install pytest pytest-cov
          pytest --cov=geoapps --cov-report=xml --cov-branch
      - name: Codecov
        if: success()
        uses: codecov/codecov-action@v1
        with:
          name: GitHub
          token: ${{ secrets.CODECOV_TOKEN }}
