name: pytest on Windows

on:
  pull_request:
    branches:
      - develop
      - main
      - release/**
      - feature/**
      - hotfix/**
  push:
    branches:
      - develop
      - main
      - release/**
      - feature/**
      - hotfix/**

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  source_dir: geoapps

jobs:
  pytest:
    name: pytest (Windows)
    strategy:
      fail-fast: false
      matrix:
        python_ver: ['3.9', '3.10']
    defaults:
      run:
        shell: powershell
    runs-on: windows-latest
    env:
      PYTHONUTF8: 1
      CONDA_LOCK_ENV_FILE: environments/conda-py-${{ matrix.python_ver }}-win-64-dev.lock.yml
      PIP_EXTRA_INDEX_URL: https://test.pypi.org/simple/
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - name: Setup conda env
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ${{ env.CONDA_LOCK_ENV_FILE }}
          environment-name: test_env
          cache-downloads: true
      - name: pytest
        run: |
          pytest --cov=${source_dir} --cov-report=xml --cov-branch
      - name: Codecov
        if: ${{ success() && matrix.python_ver == '3.9' }}
        uses: codecov/codecov-action@v3
        with:
          name: GitHub
