name: Python Master Workflow
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  codecov:
    name: Codecov Workflow
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    defaults:
      run:
        shell: bash
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@master
        with:
          python-version: 3.8
      - name: Generate coverage report
        run: |
          conda install --yes --quiet numpy scipy matplotlib ipython h5py
          conda install --yes -c conda-forge simpeg=0.13.1 geopandas scikit-learn
          pip install -r requirements_dev.txt
          pip install pytest
          pip install pytest-cov
          pytest --cov=./ --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: unittests
